:root {
    --primary-color: #A6A6A6;
    --secondary-color: #f9f9f9;

}

body {
    display: flexbox;
    background-color: var(--primary-color);
    row-gap: 10px;

}

header {
    text-align: left;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    text-align: left;
}

body {
    display: flexbox;
    background-color: var(--primary-color);
    row-gap: 10px;
    justify-content: center;

}

header {
    text-align: left;
    background-color: transparent;
    color: var(--primary-color);
    padding: 2px;
    text-align: left;
}

.mainsite {
    grid-template-rows: 1fr, 1fr, ;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--primary-color);

}

.item-1,
.item-2,
.item-3 {
    height: 250px;
    position: relative;
    grid-row: 1/2;
    border: 2px solid var(--secondary-color);
    text-align: left;
    padding-left: 30px;
}

.item-4 {
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/2;
    grid-column-end: span 3;
    border: 2px solid var(--secondary-color);

}

#picture {
    position: relative;
    bottom: 60px;
    margin-left: 50px;
}

#loan {
    margin-left: 30%;
    margin-bottom: 5px;
    background-color: green;
    /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 75%;
    transform: translateX(-50%);

}


#repay {
    background-color: yellow;
    border: none;
    position: relative;
    top: 75px;
    padding: 8px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;

}

#buynow {
    background-color: rgb(0, 127, 190);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    margin: 0;
    top: 20px;
    left: 85%;
    transform: translateX(-50%);

}



/*selct menu*/
#computers {
    width: 50%;
    height: 10%;
    cursor: pointer;
}

/*bank*/
#bank {
    width: 40%;
    height: 10%;
    background-color: yellow;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 75%;
    transform: translateX(-50%);
}

/*work*/
#work {
    width: 40%;
    height: 10%;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 25%;
    transform: translateX(-50%);
}

.balance {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.pay {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.buyit {
    background-color: v ar(--primary-color);
    border: none;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    margin: 0;
    bottom: 150px;
    left: 85%;
    transform: translateX(-50%);
}

#description {
    text-align: center;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}